<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMSWinFormsApp.Properties.Settings.CMSDBConnectionString"
            connectionString="Data Source=DESKTOP-6BLL5M4;Initial Catalog=CMSDB;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>